{% extends "layout/layout_foodr.html" %}
{% block body %}

<div class="content-wrapper">
    <br><br><br><h3 style="font-size: 35px; font-weight: bold">RECOMMENDED DEALS</h3>
    <div style="margin-top: 40px">
    {% for deal in deals.keys() %}
        {% for result in deals[deal]  %}
            <div class="card-pod">
                <div class="card">
                    <center><h3>{{deal}} - {{result.name}}</h3></center>
                    <div class="card-image img-crop-cont" style="height:200px;">
                        <img class="img-responsive img-crop"  style="overflow:none" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photoreference={{result.photos[0]}}&key=AIzaSyB-lCP58PXNJOjJ-l24qz_8nlxif9BQBB4">
                        <span  class="card-title" style="padding: 10px">
                            {% if result.alcohol == 'true' %}
                            <i class="fa fa-glass fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.wifi == 'true' %}
                            <i class="fa fa-wifi fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.wheelchair == 'true' %}
                            <i class="fa fa-wheelchair fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.parking == 'true' %}
                            <i class="fa fa-car fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.tv == 'true' %}
                            <i class="fa fa-television fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.music == 'true' %}
                            <i class="fa fa-music fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.pets == 'true' %}
                            <i class="fa fa-paw fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.card == 'true' %}
                            <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                            {% endif %}
                            {% if result.byo == 'true' %}
                            <i class="fa fa-hand-lizard-o fa-credit-card" aria-hidden="true"></i>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-content">
                    </div>
                    <div class="card-action"><center>
                        <a href="/unsave_deal?r={{alldeals.index(deal)}}-{{result.id}}&callback={{url}}" class="btn-danger btn-circle btn-xl" role="button"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a href="/save_deal?r={{alldeals.index(deal)}}-{{result.id}}&callback={{url}}" class="btn-success btn-circle btn-xl" role="button"><span>&#x2764;</span></a>
                    </center></div>
                </div>
            </div>
        {% endfor %}
        {% endfor %}
        <div>
    </div>

        {% endblock %}


