{% extends "layout/layout_foodr.html" %}
{% block body %}

<div style="margin-top: 40px">
{% for result in restaurants %}
    <div class="card-pod">
        <div class="card">
            <div class="card-image">
                <img class="img-responsive" src="https://maps.googleapis.com/maps/api/streetview?size=800x400&location=41.9804939,%20-87.66817909999999&heading=151.78&pitch=-0.76&key=AIzaSyCZzuj9pQRMvWeDpUC1CruEaY1HuEvI53o">
            </div>
            <div class="card-content">
                <b>{{result.name}}</b>
                <br><b>{{result.dietary}}  </b>
                <br><b>{{result.deals}}  </b>
                <br><b>Serves Alcohol: {{result.alcohol}}  </b>
                <br><b>Has Wifi: {{result.wifi}}  </b>
                <br><b>Wheelchair Access: {{result.wheelchair}}  </b>
                <br>
            </div>
            <div class="card-action">
                <a href="#" class="btn btn-info" role="button">View Details</a>
                <a href="#" class="btn btn-primary" role="button">Bookmark</a>
            </div>
        </div>
    </div>
{% endfor %}
<div>

{% endblock %}
