{% extends "layout/layout_foodr.html" %}
{% block body %}

<div>
<h1>{{ count }} results found for "{{ query }}"</h1><br>


{% for sorted in results %}
{% for result in sorted %}
    <div class="card-pod">
        <div class="card">
            <center><h3>{{result.name}}</h3></center>
            <div class="card-image img-crop-cont">
                <img class="img-responsive img-crop" src="https://maps.googleapis.com/maps/api/streetview?size=800x400&location={{result.lat}},%20{{result.lng}}&heading=151.78&pitch=-0.76&key=AIzaSyDq1lwrD9dc_YQPzHgPsrvobovUIcz5O_k">
                <span  class="card-title" style="padding: 10px">
                    {% if result.alcohol == 'true' %}
                    <i class="fa fa-glass fa-lg" aria-hidden="true"></i>
                    {% endif %}
                    {% if result.wifi == 'true' %}
                    <i class="fa fa-wifi fa-lg" aria-hidden="true"></i>
                    {% endif %}
                    {% if result.wheelchair == 'true' %}
                    <i class="fa fa-wheelchair fa-lg" aria-hidden="true"></i>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endfor %}
{% endfor %}

</div>
{% endblock %}
