<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Resource style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"> <!-- CSS reset -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Resource style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foodr.css') }}"> <!-- Resource style -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BunnyFavicon.png') }}">
  <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->

      <title>Foodr | Fine Food Finder</title>
</head>
<body>
  <header class="cd-main-header">
    <a href="/" class="cd-logo"><img src="{{ url_for('static', filename='img/cd-logo.png') }}" alt="Logo"></a>

    <div class="cd-search is-hidden">
      <form  action="/search" method="get">
        <input name="q" type="search" placeholder="Search..." value="{% if query != None %}{{query}}{% endif %}">
      </form>
    </div> <!-- cd-search -->

    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
      <ul class="cd-top-nav">
<!--         <li><a href="#0">Tour</a></li>
        <li><a href="#0">Support</a></li>
 -->        <li class="has-children account">
          <a href="#0">
            <img src="{{ url_for('static', filename='img/cd-avatar.png') }}" alt="avatar">
            Account
          </a>

          <ul>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header> <!-- .cd-main-header -->

  <main class="cd-main-content">
    <nav class="cd-side-nav">
      <ul>
        <li class="cd-label">Main</li>
<!--         <li class="has-children overview">
          <a href="#0">Overview</a>
          <ul>
            <li><a href="#0">All Data</a></li>
            <li><a href="#0">Category 1</a></li>
            <li><a href="#0">Category 2</a></li>
          </ul>
        </li>
 -->        <li class="has-children overview active" style="text-decoration: none;">
          <a >Restaurants & Deals</a>

          <ul>
            <li><a href="/">Recommended Restaurants</a></li>
            <li><a href="/nearby-deals/">Nearby Deals</a></li>
            <li><a href="/deals/">Recommended Deals</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="cd-label">Filtering</li>
        <li class="action-btn" data-toggle="modal" data-target="#typeModal"><a href="#0">Advanced Search</a></li>
      </ul>
      <ul>
        <li class="cd-label">Bookmarked Items</li>
        <li class="overview"><a href="/saved/restaurants/">My Restaurants</a></li>
        <li class="overview"><a href="/saved/deals/">My Deals</a></li>
      </ul>
<!--         <li class="has-children bookmarks">
          <a href="#0">Bookmarks</a>

          <ul>
            <li><a href="#0">All Bookmarks</a></li>
            <li><a href="#0">Edit Bookmark</a></li>
            <li><a href="#0">Import Bookmark</a></li>
          </ul>
        </li>
        <li class="has-children images">
          <a href="#0">Images</a>

          <ul>
            <li><a href="#0">All Images</a></li>
            <li><a href="#0">Edit Image</a></li>
          </ul>
        </li>

        <li class="has-children users">
          <a href="#0">Users</a>

          <ul>
            <li><a href="#0">All Users</a></li>
            <li><a href="#0">Edit User</a></li>
            <li><a href="#0">Add User</a></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="cd-label">Action</li>
        <li class="action-btn"><a href="#0">+ Button</a></li>
      </ul> -->
    </nav>

    {% block body %}{% endblock %}
  </main> <!-- .cd-main-content -->

<style>
.btn {
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn1 {
  background-color: #62A0E6;
  color: white;
  width: 100%;
}

.btn1:hover {
  background-color: white;
  color: black;
  padding: 10px 26px;
  border: 2px solid #62A0E6;
}

.dropdown-menu {
    width: 100%;

}

.container {
    width: 100%;
}
</style>

<script type="javascript">
    var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();

   console.log( options );
   return false;
});
</script>

<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtering</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <br/>
        <form action="/advsearch" method="get">
        <!-- Build your select: -->
        <div class="container">
        <select name="c" class="btn btn1 selectpicker">
            <option selected>Cuisine</option>
            {% for cuisine in cuisines %}
                <option value="{{ cuisine }}">{{ cuisine }}</option>
            {% endfor %}
        </select>
        </div>
      <br>
      <div class="container">
        <select name="t" class="btn btn1 selectpicker">
            <option selected>Type</option>
            {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
      </div>
      <br>
      <div class="container">
        <select name="r" class="btn btn1 selectpicker">
            <option selected>Rating</option>
            <option value="0.5">0.5</option>
            <option value="1.0">1.0</option>
            <option value="1.5">1.5</option>
            <option value="2.0">2.0</option>
            <option value="2.5">2.5</option>
            <option value="3.0">3.0</option>
            <option value="3.5">3.5</option>
            <option value="4.0">4.0</option>
            <option value="4.5">4.5</option>
            <option value="5.0">5.0</option>
        </select>
      </div>
      <br><br><br>
        <div class="row">
          <div class="col-6 col-sm-6"">
            Serves Alcohol
            <label class="switch switch1" style="float: right;">
              <input name="a" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
          <div class="col-6 col-sm-6"">
            Has Wifi
            <label class="switch switch1" style="float: right;">
              <input name="wi" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 col-sm-6">
            Wheelchair Access
            <label class="switch switch1" style="float: right;">
              <input name="wh" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
          <div class="col-6 col-sm-6">
            Allows BYO
            <label class="switch switch1" style="float: right;">
              <input name="b" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 col-sm-6">
            Allows Pets
            <label class="switch switch1" style="float: right;">
              <input name="pe" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
          <div class="col-6 col-sm-6">
            Accepts Card
            <label class="switch switch1" style="float: right;">
              <input name="ca" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 col-sm-6">
            Plays Music
            <label class="switch switch1" style="float: right;">
              <input name="m" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
          <div class="col-6 col-sm-6">
            Has TV
            <label class="switch switch1" style="float: right;">
              <input name="tv" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 col-sm-6">
            Has Parking
            <label class="switch switch1" style="float: right;">
              <input name="pa" type="checkbox" value="True">
              <div class="slider round"></div>
          </label>
          </div>
<!--           <div class="col-6 col-sm-6">
            Has Photos
            <label class="switch switch1" style="float: right;">
              <input name="ph" type="checkbox" value="True">
              <div class="slider round"></div>
            </label>
          </div>
 -->        </div>
        <br>
        <br>
        <br>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Search</button>
      </div>
        </form>
    </div>
  </div>
</div>



<script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.menu-aim.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script> <!-- Resource jQuery -->
</body>
</html>