<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    <title>Foodr</title>
</head>
<body>
    <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
            <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
              <h4>
                  <h3 style="margin: 0 auto;"><i class="fa fa-cutlery" aria-hidden="true"></i></span> Foodr</h3>
              <br>
              </h4>
              </a>
              <div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">ProfileSubMenu1</a></li>
                  <li><a href="#">ProfileSubMenu2</a></li>
                  <li><a href="#">ProfileSubMenu3</a></li>
                </ul>
              </div>
            </li>
<!--             <li>
              <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
              <span class="glyphicon glyphicon-cloud"></span> Submenu 1 <span class="caret pull-right"></span>
              </a>
              <div class="collapse" id="toggleDemo" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Submenu1.1</a></li>
                  <li><a href="#">Submenu1.2</a></li>
                  <li><a href="#">Submenu1.3</a></li>
                </ul>
              </div>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
              <span class="glyphicon glyphicon-inbox"></span> Submenu 2 <span class="caret pull-right"></span>
              </a>
              <div class="collapse" id="toggleDemo2" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Submenu2.1</a></li>
                  <li><a href="#">Submenu2.2</a></li>
                  <li><a href="#">Submenu2.3</a></li>
                </ul>
              </div>
            </li>
 -->
            <li><a href="/restaurants/"><span class="glyphicon glyphicon-lock"></span> Restaurants</a></li>
            <li><a href="/deals/"><span class="glyphicon glyphicon-calendar"></span> Deals<span class="badge pull-right">42</span></a></li>
            <li><a href="/saved/"><span class="glyphicon glyphicon-cog"></span> Saved Items</a></li>
            <li><a href="/saved/restaurants/"><span class="glyphicon glyphicon-cog"></span> Saved restaurants</a></li>
            <li><a href="/saved/deals/"><span class="glyphicon glyphicon-cog"></span> Saved Deals</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
        </div>
        <div class="col-sm-9 col-md-10 affix-content">
            <div class="container" style="margin-top: 80px">

 <!--                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% macro render_error(field) %}
                    {% if field.errors %}
                        {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                    {% endif %}
                {% endmacro %}
-->                    {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
